<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/turnier/">Turnier v0.4.x</a></li>
		<li><a href="/turnier-v0.7.0">Turnier v0.7.x</a></li>
		<li><a href="/turnier-v0.7.0-nolimit">Turnier v0.7.x Limitless</a></li>
		<li><a href="https://github.com/Chris2000SP/tournament-for-anime-pics"><img src="/images/github-mark-white.svg" alt="Logo" height="46"/></a></li>
		<li><a href="/mein-kram/">Chris Kram</a></li>
		<li><a href="/posts/">Blog</a></li>
		<li><a href="/about/">Über mich</a></li>
		<li class="theme-toggle">
			<button id="themeToggle" aria-label="Theme wechseln">
				<span class="icon">🌙</span>
				<!--<span class="text">Dark</span>-->
			</button>
		</li>
		<!--<li><a href="/impressum/">Impressum</a></li>
		<li><a href="/dsgvo/">DSGVO</a></li>-->
		<!--<li><a href="/posts/">Blog</a></li>-->
	</ul>
</nav>