<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/turnier/">Turnier v0.4.x</a></li>
		<li><a href="/turnier-v0.5.0">Turnier v0.5.x</a></li>
		<li><a href="https://github.com/Chris2000SP/tournament-for-anime-pics"><img src="/images/GitHub_Logo.png" alt="Logo" height="25"/></a></li>
		<li><a href="/mein-kram/">Chris Kram</a></li>
		<li><a href="/posts/">Blog</a></li>
		<!--<li><a href="/impressum/">Impressum</a></li>
		<li><a href="/dsgvo/">DSGVO</a></li>-->
		<!--<li><a href="/posts/">Blog</a></li>-->
	</ul>
</nav>